# API Secret
API_PORT=4000
SESSION_SECRET=SessionSecret974
JWT_SECRET=JWTSecret974

# MYSQL Secret
MYSQL_USER=root
MYSQL_DATABASE=disciplina

# Google Secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=http://localhost:5173/auth/google
GOOGLE_STATE_SECRET=GoogleStateSecret

# SMTP Secret
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=Disciplina <epitechdisciplina.dev@gmail.com>

CLASSMARKER_API_KEY=
CLASSMARKER_API_SECRET=

FILIZ_CLIENT_ID=
FILIZ_CLIENT_SECRET=
FILIZ_AUDIENCE=
FILIZ_BASE_URI=https://api.dev.partners.filiz.io
FILIZ_AUTH_URI=https://auth.dev.partners.filiz.io
